
.float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: inline;
    width: 100%;
}

.float-child {

    float: left;
    padding: 5px;
    border: 2px solid black;

}

#one {
    width:72%;
}

#two {
    width:25%;
}


header {
    background-color: lightblue;
    padding: 0.5em;
    width: 79%;
    border-radius: 15px;
    
}

li {
    display: inline;
    padding: 10px;
}

h1 {
    background-color: lightblue;
    border-radius: 15px;
}

#five {
    width: 89%;
    display: noinline-block;
}

#three {
    display: inline-block;
    width: 100%;
}
