
.float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: inline;
    width:100%;
}

.float-child {

    float: left;
    padding: 5px;
    border: 2px solid black;

}

#one {
    width:72%;

}

#two {
    width:25%

header {
    background-color: lightblue;
    padding: 0.5em;
    width: 99%;
    border-radius: 25%;
    
}

li {
    display: inline;
    padding: 10px;
}

h1 {
    background-color: lightblue;
    border-radius:25%;
}

#five {
    width: 89%;
    display: none;
}

#three {
    display: none;
}
