
.float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: inline;
    width:100%;
}

.float-child {

    float: left;
    padding: 5px;
    border: 2px solid black;

}

#one {
    width:69%;

}

#two {
    width:25%

header {
    background-color: lightblue;
    padding: 2px;
    width: 79%;
    border-radius: 25%;
    
}

li {
    display: inline;
    padding: 10px;
}

h1 {
    background-color: lightblue;
    border-radius:25%;
}

